---
import { DocumentRenderProps } from '~/types/mf2-rendering'

export interface Props extends DocumentRenderProps {}

const { doc } = Astro.props as DocumentRenderProps
---

<p>Unknown microformat type.</p>
<p>Raw properties:</p>
<pre>{JSON.stringify(doc, null, 2)}</pre>