---
import { DocumentRenderProps } from '~/types/mf2-rendering'

export interface Props extends DocumentRenderProps {}

const { doc } = Astro.props as DocumentRenderProps
---
<div>
  <p>Failed to render unknown microformat type: {doc.hType}. Please add a renderer.</p>
</div>