---
import MicroformatListRenderer from "~/components/microformat/MicroformatListRenderer.astro";
import PageLayout from "~/layouts/PageLayout.astro";
import { QueryParams, queryPosts } from "~/lib/scribble/scribble";
import { validateYearForPath } from "~/util/url";

const { year } = Astro.params;
if (!validateYearForPath(year)) {
    return new Response(null, { status: 404 });
}

const queryParams: QueryParams = {
    year: Number(year!)
}

const results = await queryPosts(queryParams);
const title = `Posts from ${year}`;
---

<PageLayout title={`Posts from ${year}`}>
    <h1 class="tw:text-2xl tw:font-bold tw:mb-6">{title}</h1>
    <MicroformatListRenderer posts={results} />
</PageLayout>
