---
import PageLayout from "~/layouts/PageLayout.astro"
import { validateYearForPath } from "~/util/url"

const { year } = Astro.params
if (!validateYearForPath(year)) {
    return Astro.rewrite(`/404`)
}

// TODO: implement year view
---

<PageLayout title={`Posts from ${year}`}>
    <p>Under construction</p>
</PageLayout>