---
import Link from '../util/Link.astro';

interface Props {
    categories: string[];
}

const { categories } = Astro.props as Props;
---

<ul class="tw:list-none tw:flex tw:gap-2 tw:text-sm">
    {
        categories.length ? (
            categories.map((category) => (
                <li class="tw:hover:underline tw:decoration-wavy">
                    <Link href={`/tagged/${category}`}>#{category}</Link>
                </li>
            ))
        ) : (
            <li class="tw:hover:underline tw:decoration-wavy">
                <Link href={`/uncategorized`}>#uncategorized</Link>
            </li>
        )
    }
</ul>
