---
import PageLayout from "~/layouts/PageLayout.astro";
import { validateMonthForPath, validateYearForPath } from "~/util/url";

const { year, month } = Astro.params;
if (!validateYearForPath(year) || !validateMonthForPath(month)) {
    return new Response(null, { status: 404 });
}

// TODO: implement month view
---

<PageLayout title={`Posts from ${month}/${year}`}>
    <p>Under construction</p>
</PageLayout>
