---
import clip from '@arendjr/text-clipper'

interface Props {
    text: string
    preview?: boolean
}

const { text, preview = false } = Astro.props as Props

const PREVIEW_MAX_CHARS = 300
const rendered = preview ? clip(text, PREVIEW_MAX_CHARS) : text
---

<p>{rendered}</p>
