---
import clip from '@arendjr/text-clipper'

interface Props {
    text: string,
    class?: string,
    preview?: boolean,
    raw?: boolean
}

const { text, class: className = "", preview = false, raw = false } = Astro.props as Props

const PREVIEW_MAX_CHARS = 300
const rendered = preview ? clip(text, PREVIEW_MAX_CHARS) : text
---

{ raw ? rendered : <p class:list={className}>{rendered}</p> }
