---
import PageLayout from '~/layouts/PageLayout.astro';

export const prerender = true
---

<PageLayout title="404 Not Found">
    <h1>Content not found</h1>
    <p>Whatever you were searching for, it's not here.</p>
    <a href="/">Return to the homepage</a>
</PageLayout>
