---
import HFeedRenderer from "~/components/microformat/hfeed/HFeedRenderer.astro";
import BaseLayout from "~/layouts/BaseLayout.astro";
import { queryPosts } from "~/lib/scribble/scribble";

const queryParams = {
    type: 'h-entry'
};

const results = await queryPosts(queryParams);

const feedInfo = {
	title: "Recent Posts",
	url: "/",
	headerConfig: {
		level: 2,
		class: "tw:col-span-12"
	}
}
---

<BaseLayout title="Home" mainClass="tw:gap-y-6">
	<div class="tw:col-span-12 tw:flex tw:flex-col tw:gap-y-4">
		<h1 class="tw:text-3xl tw:font-bold">Hi, I'm Jacob!</h1>
		<div>
			<p>
				I'm a software engineer, reader, husband, and lifelong learner. This
				is my humble abode on the internet, and here I post my thoughts,
				projects, and experiences.
			</p>
			<p>This website is <em>very</em> much a work in progress!</p>
		</div>
	</div>
	<HFeedRenderer posts={results} feedInfo={feedInfo} class="tw:col-span-12 tw:grid tw:grid-cols-subgrid tw:gap-y-2 tw:gap-x-4" itemClass="tw:col-span-3" />
</BaseLayout>
