---
import PageLayout from '~/layouts/PageLayout.astro';

export const prerender = true
---

<PageLayout title="Home">
	<p>Hello, I'm Jacob. This site is a work in progress.</p>
	<ul>
		<li><a href="https://github.com/jacobsandersen" rel="me">@jacobsandersen on Github</a></li>
		<li><a href="mailto:jacob@jacobandersen.dev" rel="me">jacob@jacobandersen.dev</a></li>
	</ul>
</PageLayout>
