---
import PageTitle from "~/components/PageTitle.astro";
import BaseLayout from "~/layouts/BaseLayout.astro";
---

<BaseLayout title="Jamstation">
  <PageTitle 
    title="The Jamstation"
    crumbs={["Home:/", "The Jamstation:/jams"]}   
  />
  <p>Coming soon</p>
</BaseLayout>