---
import PageTitle from "~/components/PageTitle.astro";
import BaseLayout from "~/layouts/BaseLayout.astro";
---

<BaseLayout title="Workshop">
  <PageTitle
    title="The Workshop"
    subtitle="The home for bits, and bobs, and thingamajiggies"
    crumbs={["Home:/", "The Workshop:/workshop"]} />
  <p>Coming soon</p>
</BaseLayout>