---
import { getNowPlaying } from "~/lib/seer"

const nowPlaying = await getNowPlaying()
---

{ nowPlaying ?
  <p><span class="tw:font-bold">most recently: </span><i>{nowPlaying.name}</i> by {nowPlaying.artist["#text"]}</p> :
  <p>not currently listening to anything (gasp!)</p>
}