---
import { getNowReading } from "~/lib/seer";

const nowReading = await getNowReading()
---

{ nowReading ?
  <p><span class="tw:font-bold">currently: </span><i>{nowReading.title}</i> by {nowReading.author}</p> :
  <p>not currently reading anything (gasp!)</p>
}