---
interface Props {
    class?: string;
}

const { class: className } = Astro.props as Props;
---

<header class:list={['tw:flex', 'tw:justify-between', className]}>
    <div class="tw:flex tw:items-center tw:gap-x-2">
        <img src="/images/portrait/150.webp" alt="Jacob Andersen" class:list={["tw:inline-block", "tw:w-8", "tw:h-8", "tw:rounded-full", "tw:mr-1", "tw:aspect-3/2", "tw:object-cover", "tw:object-bottom"]} />
        <p class="tw:text-xl">Jacob Andersen</p>
    </div>
    <nav>
        <ul class="tw:flex tw:gap-x-4">
            <li><a href="/">Home</a></li>
            <li><a href="/posts">Posts</a></li>
            <li><a href="/lab">Lab</a></li>
            <li><a href="/resume">Resume</a></li>
        </ul>
    </nav>
</header>