---
import Breadcrumb from './Breadcrumb.astro'

interface Props {
  crumbs?: string[],
  title: string,
  subtitle?: string
}

const { crumbs = [], title, subtitle } = Astro.props
---

<div class="tw:contents">
  <Breadcrumb crumbs={crumbs} />
  <div class="tw:flex tw:flex-col tw:gap-y-2 tw:pt-4 pb-2">
    <h1 class="tw:text-4xl tw:md:text-3xl tw:font-serif">{title}</h1>
    { subtitle ? <p class="tw:text-sm tw:md:text-base">{subtitle}</p> : <></> }
  </div>
  <hr class="tw:my-4 tw:border-dotted" />
</div>