---
interface Props {
    categories: string[]
}

const { categories } = Astro.props as Props
---

{categories.length > 0 && (
    <ul class="tw:list-none tw:flex tw:gap-2 tw:text-sm">
        {categories.map((category) => (
            <li class="tw:hover:underline tw:decoration-wavy"><a href={`/content/tagged/${category}`}>#{category}</a></li>
        ))}
    </ul>
)}