---
interface Props {
    categories: string[]
}

const { categories } = Astro.props as Props
---

{categories.length > 0 && (
    <ul class="list-none flex gap-2 text-sm">
        {categories.map((category) => (
            <li class="hover:underline decoration-wavy"><a href={`/content/tagged/${category}`}>#{category}</a></li>
        ))}
    </ul>
)}