---
interface Props {
    raw: string,
    formatted: string,
    hidden: boolean,
    prefixMDash?: boolean
    class: string
}

const { raw, formatted, hidden, prefixMDash = false, class: className } = Astro.props
---

<time datetime={raw} class:list={[{hidden}, className]}>{prefixMDash && <span>&mdash; </span>}{formatted}</time>