---
interface Props {
    class: string[]
}

const { class: className } = Astro.props as Props
---

<p class:list={["relative", "pl-8", "pt-6", "before:content-['“']", "before:text-6xl", "before:absolute", "before:left-0", "before:top-0", "before:line-height-1", "before:opacity-50", ...className]}>
    <slot />
</p>