---
interface Props {
    class: string[]
}

const { class: className } = Astro.props as Props
---

<p class:list={["tw:relative", "tw:pl-8", "tw:pt-6", "tw:before:content-['“']", "tw:before:text-6xl", "tw:before:absolute", "tw:before:left-0", "tw:before:top-0", "tw:before:line-height-1", "tw:before:opacity-50", ...className]}>
    <slot />
</p>