---
import PageLayout from "~/layouts/PageLayout.astro";
import { QueryParams } from "~/lib/scribble/scribble";
import { validateYearMonthDayForPath } from "~/util/url";
import { queryPosts } from "~/lib/scribble/scribble";
import { parseAdhoc } from "~/util/dates";
import MicroformatListRenderer from "~/components/microformat/MicroformatListRenderer.astro";

const { year, month, day } = Astro.params;
if (!validateYearMonthDayForPath(year, month, day)) {
    return new Response(null, { status: 404 });
}

const queryParams: QueryParams = {
    year: Number(year!),
    month: Number(month!),
    day: Number(day!),
}

const date = new Date()
date.setFullYear(queryParams.year!)
date.setMonth((queryParams.month ?? 1) - 1)
date.setDate(queryParams.day ?? 1)

const formattedDate = parseAdhoc(date, 'MMMM DD, YYYY')

const results = await queryPosts(queryParams);
const title = `Posts from ${formattedDate}`;
---

<PageLayout title={title}>
    <h1>{title}</h1>
    <MicroformatListRenderer posts={results} />
</PageLayout>
