---
import { Mf2Properties } from '../../../../types/mf2-document'

export interface Props {
    props: Mf2Properties
}

const { props } = Astro.props
---

<p>This is a note</p>
<pre>{JSON.stringify(props, null, 2)}</pre>