---
import { Like } from '~/lib/content'
import ExternalLink from '../util/ExternalLink.astro'
import ReferencedContent from '../post-fragments/ReferencedContent.astro'

interface Props {
    like: Like
}

const { like } = Astro.props as Props
---

<div class="tw:flex tw:flex-col tw:items-center tw:gap-y-4">
    <h2 class="tw:text-xl tw:font-bold">Liked <em><ExternalLink href={like.likeOf}>{like.likeOf}</ExternalLink></em></h2>
    <ReferencedContent referencedContent={like.referencedContent} />
</div
