---
import { Post } from "~/lib/content";

interface Props {
    content: Post;
}

const loaders: Record<Post['type'], () => Promise<{ default: unknown }>> = {
  article: () => import('./ArticlePost.astro'),
  checkin: () => import('./CheckinPost.astro'),
  like: () => import('./LikePost.astro'),
  note: () => import('./NotePost.astro'),
  repost: () => import('./RepostPost.astro'),
  rsvp: () => import('./RsvpPost.astro'),
  photo: () => import('./PhotoPost.astro'),
  reply: () => import('./ReplyPost.astro'),
  bookmark: () => import('./BookmarkPost.astro'),
};

const { content } = Astro.props as Props;
const Component = (await loaders[content.type]())?.default as any 
---

{Component ? <Component {...{ [content.type]: content }} /> : <p>Unsupported post type: {content.type}</p>}
