---
import { Rsvp } from '~/lib/content'
import ExternalLink from '../util/ExternalLink.astro';
import ReferencedContent from '../post-fragments/ReferencedContent.astro';

interface Props {
    rsvp: Rsvp
}

const { rsvp } = Astro.props as Props

let rsvpText = '';
switch (rsvp.rsvp) {
    case 'yes':
        rsvpText = 'Is going to';
        break;
    case 'no':
        rsvpText = 'Is not going to';
        break;
    case 'maybe':
        rsvpText = 'Might be going to';
        break;
    case 'interested':
        rsvpText = 'Is interested in';
}

---

<div class="tw:flex tw:flex-col tw:items-center tw:justify-center tw:gap-y-2">
    <h2 class="tw:text-xl tw:font-bold">{rsvpText} <em><ExternalLink href={rsvp.inReplyTo} showIcon={true}>{rsvp.event ?? "an event"}</ExternalLink></em></h2>
    
    {/* TODO: should use blockquote instead */}
    {/* Only try to render if it exists, as a bonus; don't inform the user that the content is not renderable otherwise. */}
    {rsvp.referencedContent && (<div class="ml-4">
        <ReferencedContent referencedContent={rsvp.referencedContent} />
    </div>)}
</div>
