---
import ContentRenderer from '~/components/content/ContentRenderer.astro'
import { Article } from '~/lib/content'

interface Props {
    article: Article
}

const { article } = Astro.props as Props
---

<div class="tw:flex tw:flex-col">
    <h2 class="tw:text-xl tw:font-bold">Posted an article</h2>
    <ContentRenderer content={article.content} />
</div>