---
import ContentRenderer from '~/components/content/ContentRenderer.astro'
import ExternalLink from '~/components/util/ExternalLink.astro'
import { Bookmark } from '~/lib/content'

interface Props {
    bookmark: Bookmark
}

const { bookmark } = Astro.props as Props
---

<div class="tw:flex tw:flex-col">
    <h2 class="tw:text-xl tw:font-bold">Added a <ExternalLink href={bookmark.bookmarkOf} showIcon={true}>bookmark</ExternalLink></h2>
    <ContentRenderer content={bookmark.content} />
</div>