---
import ContentRenderer from '~/components/content/ContentRenderer.astro'
import StylizedQuote from '~/components/fragments/StylizedQuote.astro'
import { Note } from '~/lib/content'

interface Props {
    note: Note
}

const { note } = Astro.props as Props
---

<div class="tw:flex tw:flex-col">
    <h2 class="tw:text-xl tw:font-bold">Posted a note</h2>
    <ContentRenderer content={note.content} preview={true} />
</div>