---
import ContentRenderer from '~/components/content/ContentRenderer.astro'
import { Photo } from '~/lib/content'

interface Props {
    photo: Photo
}

const { photo } = Astro.props as Props
const isMultiPhoto = photo.photoUrls.length > 1
const wording = isMultiPhoto ? `Posted ${photo.photoUrls.length} photos` : 'Posted a photo'
---

<div class="tw:flex tw:flex-col">
    <h2 class="tw:text-xl tw:font-bold">{wording}</h2>
    <ContentRenderer content={photo.content} />
</div>