---
import ContentRenderer from '~/components/content/ContentRenderer.astro'
import ExternalLink from '~/components/util/ExternalLink.astro'
import { Reply } from '~/lib/content'

interface Props {
    reply: Reply
}

const { reply } = Astro.props as Props
---

<div class="tw:flex tw:flex-col">
    <h2 class="tw:text-xl tw:font-bold">Replied to <em><ExternalLink href={reply.inReplyTo} showIcon={true}>a post</ExternalLink></em></h2>
    <ContentRenderer content={reply.content} preview={true} />
</div>