---
import ExternalLink from '~/components/util/ExternalLink.astro'
import { Repost } from '~/lib/content'

interface Props {
    repost: Repost
}

const { repost } = Astro.props as Props
---

<div class="tw:flex tw:flex-col">
    <h2 class="tw:text-xl tw:font-bold">Reposted <em><ExternalLink href={repost.repostOf} showIcon={true}>some content</ExternalLink></em></h2>
</div>