---
import ExternalLinkIcon from '../icons/ExternalLinkIcon.astro'

interface Props {
    href: string
    linkClass?: string[]
    iconClass?: string[]
}

const { href, linkClass, iconClass } = Astro.props as Props
---

<span class="tw:inline-flex tw:items-center tw:gap-1">
    <a href={href} target="_blank" class:list={["tw:italic", "tw:underline", "tw:decoration-dotted", "tw:hover:decoration-wavy", ...(linkClass ? linkClass : [])]}><slot /></a>
    <ExternalLinkIcon class:list={["tw:size-4", ...(iconClass ? iconClass : [])]} />
</span>