---
export interface Props {
  href: string;
  class?: string;
}

const { href, class: className = "" } = Astro.props as Props
---

<a href={href} class:list={["tw:block", "tw:border", "tw:p-2", "tw:rounded-sm", className]}>
  <slot name="title" />
  <slot />
</a>