---
import '~/styles/global.css'

interface Props {
	pageTitle?: string
}

const { pageTitle } = Astro.props as Props

const title = pageTitle ? pageTitle : ''
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<link rel="authorization_endpoint" href="https://indieauth.com/auth">
		<link rel="token_endpoint" href="https://tokens.indieauth.com/token">
		<link rel="micropub" href="https://scribble.jacobandersen.dev" />
		<slot name="additionalHead" />
		<title>{title} &ndash; Jacob Andersen</title>
	</head>
	<body class="tw:bg-blue-200 tw:dark:bg-blue-950 tw:text-blue-950 tw:dark:text-blue-200 tw:h-screen">
		<div class="tw:h-full tw:w-full tw:flex tw:justify-center">
			<div class="tw:h-full tw:w-1/2 tw:flex-col tw:items-center tw:gap-y-2">
				<slot />
			</div>
		</div>
	</body>
</html>
