---
import '~/styles/global.css'

interface Props {
	pageTitle?: string
}

const { pageTitle } = Astro.props as Props

const title = pageTitle ? pageTitle : ''
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<link rel="authorization_endpoint" href="https://indieauth.com/auth">
		<link rel="token_endpoint" href="https://tokens.indieauth.com/token">
		<link rel="micropub" href="https://scribble.jacobandersen.dev" />
		<slot name="additionalHead" />
		<title>{title} &ndash; Jacob Andersen</title>
	</head>
	<body class="bg-blue-200 dark:bg-blue-950 text-blue-950 dark:text-blue-200 h-screen">
		<div class="h-full w-full flex justify-center">
			<div class="h-full w-1/2 flex-col items-center gap-y-2">
				<slot />
			</div>
		</div>
	</body>
</html>
