---
import "~/styles/global.css";
import SiteFooter from "~/components/structure/SiteFooter.astro";
import SiteSidebar from "~/components/structure/SiteSidebar.astro";

interface Props {
	title?: string;
	mainClass?: string;
}

const { title, mainClass } = Astro.props as Props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="fediverse:creator" content="@simpleauthority@mastodon.social">
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<link rel="pgpkey" href="/gpg.pub.txt" />
		<link rel="authorization_endpoint" href="https://indieauth.com/auth" />
		<link rel="token_endpoint" href="https://tokens.indieauth.com/token" />
		<link
			rel="micropub"
			href="https://scribble.jacobandersen.dev/micropub"
		/>
		<slot name="additionalHead" />
		<title>{title ?? "Unnamed Page"} &ndash; Jacob Andersen</title>
	</head>
	<body class="tw:h-screen tw:py-2 tw:bg-blue-200 tw:dark:bg-blue-950 tw:text-blue-950 tw:dark:text-blue-200">
		<div class="tw:h-full tw:w-full tw:flex tw:justify-center">
			<div class="tw:h-full tw:w-3/4 tw:flex tw:flex-col tw:gap-y-4">
				<div class="tw:grid tw:grid-cols-16 tw:gap-x-2">
					<SiteSidebar class="tw:col-span-3" />
					<main class:list={["tw:border-2", "tw:border-dotted", "tw:rounded-sm", "tw:p-3", "tw:col-span-13", "tw:grid", "tw:grid-cols-12", mainClass]}>
						<slot />
					</main>
				</div>
				<SiteFooter />
			</div>
		</div>
	</body>
</html>
