---
import '~/styles/global.css'

interface Props {
	pageTitle?: string
}

const { pageTitle } = Astro.props as Props

const title = pageTitle ? pageTitle : ''
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<link rel="authorization_endpoint" href="https://indieauth.com/auth">
		<link rel="token_endpoint" href="https://tokens.indieauth.com/token">
		<link rel="micropub" href="https://scribble.jacobandersen.dev" />
		<title>{title} &ndash; Jacob Andersen</title>
	</head>
	<body class="bg-gray-100 dark:bg-gray-900 text-gray-900 dark:text-gray-100 h-screen">
		<slot />
	</body>
</html>
