---
import Link from '~/components/util/Link.astro'
import BaseLayout from './BaseLayout.astro'
import { LucideArrowBigLeft } from '@lucide/astro'

interface Props {
    title?: string
}

const { title = 'Post' } = Astro.props as Props
---

<BaseLayout pageTitle={title}>
    <Link href="/" linkClass={["tw:inline-flex tw:gap-x-2"]}><LucideArrowBigLeft /> Back to Home</Link>
    <main>
        <slot />
    </main>
</BaseLayout>