---
import BaseLayout from './BaseLayout.astro'

interface Props {
    title?: string
}

const { title = 'Post' } = Astro.props as Props
---

<BaseLayout pageTitle={title} headerMarksUpAuthor={true}>
    <main class="tw:pb-8">
        <slot />
    </main>
</BaseLayout>