---
import MicroformatListRenderer from '~/components/microformat/MicroformatListRenderer.astro';
import PageLayout from '~/layouts/PageLayout.astro'
import { QueryParams, queryPosts } from '~/lib/scribble/scribble';

const { category } = Astro.params
if (category!.toLowerCase() === "uncategorized") {
    return Astro.redirect("/uncategorized")
}

const queryParams: QueryParams = {
    category: category!,
}

const posts = await queryPosts(queryParams);

const title = `Posts tagged with #${category}`;
---

<PageLayout title={title}>
    <h1>{title}</h1>
    <MicroformatListRenderer posts={posts} />
</PageLayout>