---
import PageLayout from '~/layouts/PageLayout.astro'

const { category } = Astro.params
if (category!.toLowerCase() === "uncategorized") {
    return Astro.redirect("/uncategorized")
}
---

<PageLayout title={`Posts tagged with #${category}`}>
    <p>Under construction</p>
</PageLayout>