---
import Link from "~/components/util/Link.astro";
import BaseLayout from "~/layouts/BaseLayout.astro";
import { listCategories } from "~/lib/scribble/scribble";

const tags = await listCategories();
---

<BaseLayout title="Post Tags">
    <h1>Post Tags</h1>
    {
        tags.length > 0 ? (
            <ul>
                {tags.map((tag) => (
                    <li><Link href={`/tagged/${tag}`}>#{tag}</Link></li>
                ))}
            </ul>
        ) : (
            <p>No tags found.</p>
        )
    }
</BaseLayout>