---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import Link from "~/components/util/Link.astro";
import BaseLayout from "~/layouts/BaseLayout.astro";

const posts = await getCollection("micropub");
const categories = [...new Set(
  posts.flatMap(post => (post.data.properties['category'] ?? [])
    .filter(cat => typeof cat === 'string')
  )
)];
---

<BaseLayout title="Post Tags">
    <h1>Post Tags</h1>
    {
        categories.length > 0 ? (
            <ul>
                {categories.map((category) => (
                    <li><Link href={`/tagged/${category}`}>#{category}</Link></li>
                ))}
            </ul>
        ) : (
            <p>No tags found.</p>
        )
    }
</BaseLayout>