---
import { getCollection } from "astro:content";
import type { Mf2Document } from "../../../types/mf2-document";

export async function getStaticPaths() {
    const content = await getCollection("scribble")
    return content.map(doc => {
        return {
            params: {
                slug: doc.data.properties['mp-slug'][0]
            },
            props: {
                ...doc.data
            }
        }
    })
}

const doc = Astro.props as Mf2Document

const title = doc.properties.name?.[0] ?? "no title"
const content = doc.properties.content ?? []
const otherProperties = Object.entries(doc.properties).filter(
  ([key]) => key !== 'name' && key !== 'content'
)
---

<p>{JSON.stringify(doc)}</p>